
<div class="agilehead"><br>
<!--header-->
<div class="agileheader">
    <h1>Contact Us</h1>
    
  </div>
  <!--//header-->
  <!--main-->
  <section class="main-w3l">
  <div class="agile-form">
      <form [formGroup]="form" (ngSubmit)="contact()">
        <div class="agile_w3l_inner_form">
          <div class="ft-name">
            <input type="text" name="name" placeholder="Full Name" required=""  formControlName="name">
          </div>
          <div class="clear"> </div>
          <div class="e-name">
          <input type="email" name="emailId" placeholder="Your Email" required="" formControlName="emailId">
          </div>
          <textarea name="message" placeholder="Message" required="" formControlName="message"></textarea>
         </div>
         <div class="w3ls-bottom">
      
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary" >Send message</button>
      
             </div>
         
      </form>
    </div>
    
  </section>
  <br>
  <!--//main-->
</div>