
img {
   max-width: 100%;
}
.agilehead {
   
    background-size: cover;
	text-align:center;
/*	padding:0 0 32px 0;*/
}
/*--header--*/
.agileheader {
   margin: 0 0 40px 0;	
    border: 1px
}
.agileheader h1 {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffffff;	
	box-sizing: 1px;
	font-family: 'Quicksand', sans-serif;
	
}
/*--//header--*/
/*--main--*/
.main-w3l {
    width: 40%;
    margin: 0 auto;
    background: #ffffff;
	padding: 32px 0;
	
	margin-bottom: 32px;
	box-shadow: 9px 14px 5px rgba(0, 0, 0, 0.59);
}
.w3ls-top {
    padding: 0 20px;
}
.element-img {
    width: 14%;
    float: left;
	margin: 4px 0 0 0;
}
.top-text {
    float: left;
    text-align: left;
    margin: 17px 0 0 10px;
    width: 30%;
}
.top-text h2 {
    font-size: 26px;
    letter-spacing: 2px;
    color: #212121;
    font-weight: 500;
	text-transform: uppercase;
}
.top-text h5 {
    font-size: 16px;
    letter-spacing: 2px;
    color: #212121;
    margin: 12px 0 0 0;
	text-align: left;
	font-family: 'Quicksand', sans-serif;
}
.w3ls-ma {
    width: 45%;
    float: right;
    margin: 25px 0 0 0;
}
p.ph-icon {
    font-size: 16px;
    color: #3dcbf9;
    margin: 0 0 15px;
}
.ph-icon:before {
        font-family: FontAwesome;
        padding-right:10px;
        content: "\f095"; 
		color:#212121;
    }
.w3ls-ma a {
    font-size: 16px;
    color: #3dcbf9;
    margin: 0 0 0 31px;
	  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3ls-ma a:hover{
    color:#ff0b00;
}
.w3ls-ma a:before {
        font-family: FontAwesome;
        padding-right:10px;
        content: "\f003"; 
		color: #212121;
    }
.agile_w3l_inner_form {
	margin-left: 20px;
    padding: 20px ;
}
.ft-name {
    float: left;
    width: 50%;
}
.lt-name {
    float: right;
    width: 50%;
}

.ft-name input[type="text"],.lt-name input[type="text"]{
    width: 85%;
    color: #212121;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .6em 1em; 
    border: solid 1px #212121;
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
	letter-spacing: 1px;
}
.e-name input[type="email"] {
    width: 93%;
    color: #212121;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .6em 1em; 
    border: solid 1px #212121;
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
	margin:20px 0;
	letter-spacing: 1px;
}
.agile-form  textarea {
    resize: none;
	width: 93%;
    background: none;
    color: #212121;
    font-size: .9em;
    outline: none;
    padding: .6em 1em;
    border: solid 1px #212121;
    min-height: 5em;
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
	    letter-spacing: 1px;
}
.agile-form span{
	font-size:16px;
	color:#212121;
	letter-spacing:2px;
	text-align:left;
	display:block;
}
.agile-form p{
	font-size:16px;
	color:#212121;
	letter-spacing:1px;
	text-align:left;
	display:block;
	margin: 6px 0;
    line-height: 28px;

}
.w3ls-bottom {
    padding: 20px;
}
.w3ls-bottom h5 {
    float: left;
    font-size: 16px;
    
}
.w3ls-bottom input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 16px 14px;
    font-size: 0.9em;
 
    -webkit-appearance: none;
    background: #212121;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    width: 30%;
    cursor: pointer;
	border:none;
	    font-weight: 600;

}
.w3ls-bottom input[type="submit"]:hover {
	   background:#ff0b00;
}	
/*--//main--*/
/*--footer--*/
.footer-w3l p {
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
}
.footer-w3l p a{
    font-size: 16px;
    color: #3dcbf9;
    letter-spacing: 1px;
	  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer-w3l p a:hover{
    color: #add5e2;
}
/*--//footer--*/
/*--responsive starts here--*/
@media (max-width:1440px) {
	.element-img {
		width: 16%;
	}
}
@media (max-width:1366px) {
	.main-w3l {
		width: 43%;
	}
}
@media (max-width:1280px) {
	.main-w3l {
		width: 46%;
	}
}
@media (max-width:1080px) {
	.agileheader {
		margin: 35px 0;
	}
	.main-w3l {
		width: 55%;
	}
	body {
		padding: 0 0 109px 0;
	}
}
@media (max-width:1024px) {
	.agileheader {
		margin: 16px 0;
	}
	.main-w3l {
		width: 60%;
	}
}
@media (max-width:991px) {
	.main-w3l {
		width: 65%;
	}
	.agileheader h1 {
		font-size: 35px;
		letter-spacing: 5px;
	}
}
@media (max-width:800px) {
	.main-w3l {
		width: 70%;
	}
}
@media (max-width:768px) {
	.main-w3l {
		width: 75%;
	}
	.agileheader {
		margin: 16px 0;
		padding: 5em 0 2em 0;
	}
	.footer-w3l {
		padding: 4em 0 1em 0;
	}
}
@media (max-width:667px) {
	.agileheader h1 {
		letter-spacing: 2px;
	}
	.main-w3l {
		width: 80%;
	}
}
@media (max-width:600px) {
	.agileheader h1 {
		font-size: 38px;
	}
	.main-w3l {
		width: 90%;
	}
	.footer-w3l p {
		line-height: 28px;
	}
	body {
		padding: 0 0 74px 0;
	}
	.agileheader {
		margin: 16px 0;
		padding: 3em 0 1em 0;
	}
	.w3ls-bottom input[type="submit"] {
       width: 41%;
	}
}
@media (max-width:568px) {
	.agileheader h1 {
		font-size: 35px;
	}
	.main-w3l {
		width: 95%;
	}
	.footer-w3l {
		padding: 1em 0 0em 0;
	}
}
@media (max-width:480px) {
	.agileheader h1 {
		font-size: 29px;
	}
	.main-w3l {
		width: 98%;
	}
	.top-text h2 {
		font-size: 20px;
	}
	.top-text h5 {
		letter-spacing: 1px;
	}
	.w3ls-ma {
		width: 50%;
	}
	.top-text h5 {
      font-size: 14px;
	}
	.w3ls-ma a {
      font-size: 14px;
	}
	p.ph-icon {
      font-size: 14px;
	}
}
@media (max-width:440px) {
  	.ft-name input[type="text"], .lt-name input[type="text"] {
      width: 83%;
	}
}
@media (max-width:414px) {
	.element-img {
		width: 25%;
	}
	.top-text {
		margin: 18px 0 0 20px;
		width: 50%;
	}
	.w3ls-ma {
		width: 100%;
		margin:0;
	}
	.w3ls-bottom input[type="submit"] {
		width: 40%;
	}
	.agileheader {
		margin: 16px 0;
		padding: 1em 0 0.5em 0;
	}
	.ft-name input[type="text"], .lt-name input[type="text"] {
		width: 82%;
	}
	.e-name input[type="email"] {
      width: 91%;
	}
	.agile-form textarea {
		resize: none;
		width: 91%;
	}
	body {
		padding: 0 0 48px 0;
	}
}
@media (max-width:384px) {
	.ft-name input[type="text"], .lt-name input[type="text"] {
		width: 77%;
	}
	.e-name input[type="email"] {
		width: 90%;
	}
	.agile-form textarea {
		width: 90%;
	}
}
@media (max-width:375px) {
	.main-w3l {
		padding: 16px 0;
	}
	.w3ls-ma {
		width: 92%;
	}
	.e-name input[type="email"] {
		width: 88%;
	}
	.agile-form textarea {
		width: 88%;
	}
	.agileheader h1 {
		font-size: 23px;
	}
}
@media (max-width:320px) {
	body {
		padding: 0 0 14px 0;
	}
	.agileheader h1 {
		font-size: 28px;
	}
	.w3ls-top {
		padding: 0 10px;
	}
	.element-img {
		width: 30%;
	}
	.top-text {
		margin: 18px 0 0 10px;
	}
	.w3ls-ma {
		width: 81%;
	}
	.ft-name input[type="text"], .lt-name input[type="text"] {
		width: 74%;
	}
	.e-name input[type="email"] {
		width: 87%;
	}
	.agile-form textarea {
		width: 87%;
	}
	.w3ls-bottom input[type="submit"] {
		width: 55%;
	}
	.agileheader h1 {
		font-size: 23px;
	}
	.top-text h2 {
		font-size: 16px;
	}
}
/*--responsive end here--*/