  
  
    
      <div>
        <div class="modal-header">
          <h4 class="modal-title">What is your Question</h4>
        </div>	

        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="ask()">

           
              <legend>
                <span class="number">2</span>Ask Question</legend>
              <br>
              <label name="tag"> Tag name: </label>


              <select name='tag'  class='postform' tabindex="11"  formControlName="tag_name" required="">
            
                <option class="level-0" >html</option>
                <option class="level-0" >css</option>
                <option class="level-0" >java</option>
                <option class="level-0" >Hadoop</option>
                <option class="level-0" >python</option>
                <option class="level-0" >angular</option>
                <option class="level-0" >javascript</option>
                <option class="level-0" >big data</option>
                <option class="level-0" >jquery</option>
                <option class="level-0" >hibernete</option>
                <option class="level-0" >other</option>
              </select>

                   <label for="">Enter your question</label>

              <textarea class="form-control" rows="3" required="" placeholder="Type here..."  name="question" formControlName="question" ></textarea>
           <br>
         
<button type="submit" class="btn btn-primary">Submit</button>
          
		  </form>
        </div>

      </div>
  

