<div class="main-agile" id="home">
	

  <div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
      <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
  </div>
  <hr>
  
  <h1> Blog </h1>
  <hr>
  <br>
  <!-- pop-up-box -->
  <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
    <h3 class="agileinfo_sign">Sign In</h3>
    <div class="agileits_signin_form">
      <form action="#" method="post">
        <input type="email" name="email" placeholder="Your Email" required="">
        <input type="password" name="password" placeholder="Password" required="">
        <div class="agile_remember">
          <div class="agile_remember_left">
            <div class="check">
              <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>remember me</label>
            </div>
          </div>
          <div class="agile_remember_right">
            <a href="#">Forgot Password?</a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <input type="submit" value="SIGN IN">
        <p>Don't have an account <a href="#small-dialog1" class="play-icon popup-with-zoom-anim">Sign Up</a></p>
        <div class="w3agile_social_icons">
          <ul>
            <li class="wthree_follow">Follow us on :</li>
            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">
    <h3 class="agileinfo_sign">Sign Up</h3>
    <div class="agileits_signin_form">
      <form action="#" method="post">
      <input type="text" name="name" placeholder="First Name" required="">
        <input type="text" name="name" placeholder="Last Name" required="">
        <input type="email" name="email" placeholder="Your Email" required="">
        <input type="password" name="password" placeholder="Password" required="">
        <input type="password" name="password" placeholder="Confirm Password" required="">
        <input type="text" id="name" name="phone" placeholder="Phone" title="Please enter your Phone No" required="">
          <label id="gender" style="align-items: left;"> Gender : </label>
         <input type="radio" name="gender" value="male" checked> Male
           <input type="radio" name="gender" value="female"> Female<br>
           <br>
        <input type="text" name="dob" id="dob" size="30" placeholder="dd/mm/yyyy">
            <input type="text" id="name" name="state" placeholder="state" size="14" required="">
        <input type="text" id="name" name="country" placeholder="country" required="">
        <input type="submit" value="SIGN UP">
        <p>Already a member <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a></p>
        <div class="w3agile_social_icons">
          <ul>
            <li class="wthree_follow">Follow us on :</li>
            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <!-- //pop-up-box -->
  
  
  <br>
  
  
  <div class="index-content">
      <div class="container">
             
                  <div class="col-md-5">
                      <div class="card">
                          <img src="/assets/images/ang.jpg">
                          <h4>Angular Js</h4>
                          <p>AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</p>
                         <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal">Read More</button>
                             </div>
                  </div>
              
  
                  <div class="col-md-5">
                      <div class="card">
                          <img src="/assets/images/bo.jpg">
                          <h4>Bootstrap</h4>
                          <p>Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.</p>
                            <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal1">Read More</button>
                      </div>
                  </div>
              
           </div>
           <br>
            <div class="container">
                  <div class="col-md-5">
                      <div class="card">
                          <img src="/assets/images/python.png">
                          <h4>Python</h4>
                          <p>Python is a multiparadigm, interpreted, high-level programming language. Python allows programmers to use different programming styles to create simple or complex programs, get quicker results and write code almost as if speaking in a human language.</p>
                          <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal2">Read More</button>
                      </div>
                  </div>
              
             
                  
             
                  <div class="col-md-5">
                      <div class="card">
                          <img src="/assets/images/git.jpg">
                          <h4>Git</h4>
                          <p>Git is a version control system for tracking changes in computer files and coordinating work on those files among multiple people. As a distributed revision control system it is aimed at speed, data integrity, and support for distributed, non-linear workflows.</p>
               <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal3">Read More</button>
                      </div>
                  </div>
              
  
      </div>
  </div>
  
  
  
  <!-- Button trigger modal -->
  
  <!-- Modal -->
  
      <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Angular</h4>
          </div>
          <div class="modal-body">
            <h4>Reasons to use Angular</h4><br>
            <p><b>SECURITY :</b>  When we talk about enterprise development or transformation to a new leading technology framework, security is the top most concern. And now more than ever enterprises are focusing more on data security, easy access to their channels, distributors and sales team.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
  <!-- modal 1 -->
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Bootstrap</h4>
          </div>
          <div class="modal-body">
            <h4>Why Bootstrap ?</h4>
            <p>The bootstrap framework has the primary advantage of having a large number of accessible resources. Here are the most popular reasons why to choose Bootstrap over other frameworks.</p>
           <ol>
  <li><strong>Easy to use:</strong><br>
  Bootstrap is rated as the easy and user-friendly framework by the top responsive web design companies. It is said to be very adaptable and can be used with CSS or LESS or SASS.</li>
  <li><strong>Faster than any other framework:</strong><br>
  The major advantage of Bootstrap is the speed in which development happens. Instead of coding from scratch, Bootstrap allows using the available ready-made code blocks which can be blended with CSS-LESS functionality and cross-browser compatibility to reduce hours of work.</li>
  <li><strong>Highly responsive:</strong><br>
  As said earlier, mobile device market is continually increasing, and it has become mandatory to have responsive websites. When it comes to responsive design, grid layout plays a significant role and creating a mobile-friendly website is easy and smooth with the help of Bootstrap. It has ready-made classes which help to recognize the number of spots in the grid system. Using Bootstrap, responsive designs are made easy.</li>
  <li><strong>Simple integration and pre-styled components:</strong><br>
  Bootstrap can easily be integrated with other platforms and frameworks. Integration can be done on new sites and even on existing sites without any hassle. Bootstrap has pre-styled components that can be used for alerts, drop down, nav bars, etc. It is feature rich and can be used to develop any responsive websites.</li>
  </ol></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Modal 2 -->
  
      <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">PYTHON</h4>
          </div>
          <div class="modal-body">
            <h4>How does Python fit into web development</h4><br>
            <p>Python can be used to build server-side web applications. While a web framework is not required to build web apps, it's rare that developers would not use existing open source libraries to speed up their progress in getting their application working.</p><br>
       <p> Python is not used in a web browser. The language executed in browsers such as Chrome, Firefox and Internet Explorer is JavaScript. Projects such as pyjs can compile from Python to JavaScript. However, most Python developers write their web applications using a combination of Python and JavaScript. Python is executed on the server side while JavaScript is downloaded to the client and run by the web browser.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Modal 3-->
  
      <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Git</h4>
          </div>
          <div class="modal-body">
            <h4>Advantages of Git</h4><br>
           <ol>
             <li>Don’t require any common network.</li>
             <li>DVCS is fast because it not rely on central server.</li>
             <li>Easy to create branches because DVCS is branch management system.</li>
             <li>Security is more. It uses a common cryptographic hash function called secure hash function.</li>
           </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  